.navbar_menu {
  position: fixed;
  height: 4em;
  left: 0px;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  display: flex;
  .menubar_newchat_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;
    font-size: 25px;
    width: 301px;
    transition: width 0.3s ease;
  }
  .ainame_username_menu {
    padding: 0 20px 0 25px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    .userlogin {
      position: fixed;
      right: 40px;
      font-size: 25px;
    }
  }
}
.navbar {
  position: fixed;
  height: 4em;
  left: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  .menubar_newchat {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 26px;
    font-size: 25px;
    width: 105px;
    transition: width 0.3s ease;
  }
  .ainame_username {
    padding: 0 25px;
    display: flex;
    height: 100%;
    width: 84%;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    .userlogin {
      position: fixed;
      right: 40px;
      font-size: 25px;
    }
  }
}
@media screen and (max-width: "1280px") {
  .navbar {
    .ainame_username {
      .userlogin {
        position: fixed;
        right: 25px;
      }
    }
  }
  .navbar_menu {
    .ainame_username_menu {
      .userlogin {
        position: fixed;
        right: 25px;
      }
    }
  }
}

@media screen and (max-width: "810px") {
  .navbar_menu {
    position: fixed;
    height: 4em;
    left: 0px;
    z-index: 4;
    background-color: transparent;
    width: 100%;
    display: flex;
    .menubar_newchat_menu {
      position: absolute;
      z-index: 3;
      padding: 0 26px;
      font-size: 25px;
      height: 100%;
      width: 310px;
    }
    .ainame_username_menu {
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    transition: none;
      h1 {
        font-size: 20px;
        font-weight: bold;
      }
      .userlogin {
        display: none;
      }
    }
  }
  .navbar {
    position: fixed;
    height: 4em;
    left: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    .menubar_newchat {
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 55px;
      transition: none;
      .editicon{
        position: fixed;
        right: 25px;
        font-size: 25px;
      }
    }
    .ainame_username {
      position: absolute;
      left:8px;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 20px;
        font-weight: bold;
      }
      .userlogin {
        display: none;
      }
    }
  }
}
