// body {
//   background-color: #212121;
// }
.responsetab {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  height: 90vh;

  /* For Firefox */
  scroll-behavior: smooth;
  scrollbar-width:auto; /* Thin scrollbar */
  scrollbar-color: #383838 #f0f0f000; /* Thumb and track color */
  .navbar{
    width: 98.5vw;
  }
  .navbar_menu{
    width: 99vw;
  }
  .aicontent {
    width: 46em;
    position: relative;
    top: 3em;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    .innerdiv {
      width: 46em;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .usersection {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin: 20px 0 0 0;
        min-height: 50px;
        .querynight{
          font-family: system-ui;
          font-weight: bold;
          max-width: 80%;
          min-height: auto;
          color: black;
          background-color: hsl(0, 0%, 91%);
          border-radius: 10px;
          padding: 8px 15px 10px 15px;
          overflow-wrap: break-word;
          border-radius: 20px;
        }
        .queryday {
          font-family: system-ui;
          font-weight: bold;
          max-width: 80%;
          min-height: auto;
          color: white;
          background-color: #2f2f2f;
          border-radius: 10px;
          padding: 8px 15px 10px 15px;
          overflow-wrap: break-word;
          border-radius: 20px;
        }
      }
      .ai {
        display: flex;
        flex-direction: row;
        align-items: start;
        max-width: 100%;
        justify-content: start;
        gap: 10px;
        min-height: 50px;
        .resultey{
          overflow-x: auto;
          color: black;
          display: flex;
          font-size: 17px;
          .syntaxhighlighter{
            position: relative;
            top: -12px;
          }
          .displaycontent{
            max-width: 100%;
            padding-bottom: 5vh;
            flex-wrap: wrap;
          }
        }
        .result {
          overflow-x: auto;
          display: flex;
          color: white;
          font-size: 17px;
          .syntaxhighlighter{
            position: relative;
            top: -12px;
          }
          .displaycontent{
            max-width: 100%;
            padding-bottom: 5vh;
            flex-wrap: wrap;
          }
        }
        img {
          border-radius: 20px;
          height: 40px;
          width: 40px;
        }
      }
    }
    .initial {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 46em;
      padding-top: 200px;
      gap: 100px;
      img {
        border-radius: 50px;
        height: 100px;
        width: 100px;
        position: relative;
        animation-name: bot;
        animation-duration: 1.4s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
      @keyframes bot {
        0% {
          top: 0px;
        }
        50% {
          top: 8px;
        }
        100% {
          top: 0px;
        }
      }
      section {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        .articledivday{
          width: 150px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          border: 1px solid rgb(75, 75, 75);
          background-color: #f1f1f13f;
          border-radius: 15px;
          font-size: 25px;
          padding: 10px 0 20px 10px;
          flex-wrap: wrap;
          .articleday {
            font-size: 15px;
            font-weight: bold;
            color: black;
            font-family: "Courier New", Courier, monospace;
          }
        }
        .articledivday:hover {
          background-color: #ebebeb;
          cursor: pointer;
        }
        .articlediv{
          width: 150px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          border: 1px solid grey;
          border-radius: 15px;
          font-size: 25px;
          padding: 10px 0 20px 10px;
          flex-wrap: wrap;
          .article {
            font-size: 15px;
            color: rgb(179, 179, 179);
            font-family: "Courier New", Courier, monospace;
          }
        }
        .articlediv:hover {
          background-color: #2f2f2f;
          cursor: pointer;
        }
      }
    }
    .emptyspace {
      height: 20px;
    }
  }
}

@media screen and (min-width: "810px") and (max-width: "1280px") {
  .responsetab {
    .aicontent {
      max-width: 100%;
      height: 85vh;
      display: flex;
      align-items: center;
      .innerdiv {
        max-width: 95%;
      }
      .initial {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        padding-top: 100px;
        gap: 100px;
        section {
          display: flex;
          justify-content: center;
          max-width: 90%;
          gap: 20px;
          flex-wrap: wrap;
          .articlediv {
            width: 150px;
            border-radius: 15px;
            font-size: 25px;
            padding: 10px 0 30px 10px;
            flex-wrap: wrap;
            article {
              font-size: 15px;
              color: rgb(179, 179, 179);
              font-family: "Courier New", Courier, monospace;
            }
          }
          .articlediv:hover {
            background-color: #2f2f2f;
            cursor: pointer;
          }
        }
      }
      .emptyspace {
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: "810px") {
  .responsetab {
    .aicontent {
      max-width: 95%;
      height: 82.5vh;
      display: flex;
      align-items: center;
      .innerdiv {
        max-width: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ai {
          .result {
            .displaycontent{
              padding-bottom: 5vh;
            }
          }
        }
      }
      .initial {
        max-width: 95%;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 100px;
        section {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 20px;
        }
      }
      .emptyspace {
        height: 20px;
      }
    }
  }
}

@media screen and (min-width: "501px") and (max-width: "810px") {
  .responsetab {
    .aicontent {
      .initial {
        max-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 100px;
        gap: 100px;
        section {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: "330px") {
  .responsetab {
    .aicontent {
      .initial {
        section {
          width: 150px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
