.responsetab {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  .aicontent {
    width: 46em;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    .innerdiv {
      width: 46em;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .usersection {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin: 40px 0 0 0;
        min-height: 50px;
        .query {
          font-family: system-ui;
          font-weight: bold;
          max-width: 80%;
          min-height: auto;
          color: white;
          background-color: #2f2f2f;
          border-radius: 10px;
          padding: 8px 15px 10px 15px;
          overflow-wrap: break-word;
          border-radius: 20px;
        }
      }
      .ai {
        display: flex;
        flex-direction: row;
        align-items: start;
        max-width: 100%;
        justify-content: start;
        gap: 10px;
        min-height: 50px;
        pre {
          font-family: system-ui;
          max-width: 100%;
          color: white;
          border-radius: 10px;
          padding: 5px 15px 7vh 15px;
          overflow-wrap: break-word;
          white-space: pre-wrap;
          border-radius: 20px;
        }
        .result {
          border-radius: 10px;
          overflow-x: auto;
          color: white;
          .codeheader {
            background-color: rgb(68, 68, 68);
            height: 40px;
            padding: 8px 15px;
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
          }
          .texthighlighter {
            position: relative;
            top: -8px;
          }
          .code-content {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            color: rgb(243, 243, 243);
            white-space: pre-wrap; /* Preserve newlines and wrap long lines */
            padding-bottom: 7vh;
          }
        }
        img {
          border-radius: 20px;
          height: 40px;
          width: 40px;
        }
      }
    }
    .initial {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 46em;
      padding-top: 200px;
      gap: 100px;
      img {
        border-radius: 50px;
        height: 100px;
        width: 100px;
        position: relative;
        animation-name: bot;
        animation-duration: 1.4s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
      @keyframes bot {
        0% {
          top: 0px;
        }
        50% {
          top: 8px;
        }
        100% {
          top: 0px;
        }
      }
      section {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        .articlediv {
          width: 150px;
          border: 1px solid grey;
          border-radius: 15px;
          font-size: 25px;
          padding: 10px 0 30px 10px;
          flex-wrap: wrap;
          article {
            font-size: 15px;
            color: rgb(179, 179, 179);
            font-family: "Courier New", Courier, monospace;
          }
        }
        .articlediv:hover {
          background-color: #2f2f2f;
          cursor: pointer;
        }
      }
    }
    .emptyspace {
      height: 20px;
    }
  }
}

@media screen and (min-width: "810px") and (max-width: "1280px") {
  .responsetab {
    .aicontent {
      width: 46em;
      height: 90vh;
      .initial {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 46em;
        margin: auto;
        padding-top: 100px;
        gap: 100px;
        section {
          display: flex;
          justify-content: center;
          gap: 20px;
          .articlediv {
            width: 150px;
            border-radius: 15px;
            font-size: 25px;
            padding: 10px 0 30px 10px;
            flex-wrap: wrap;
            article {
              font-size: 15px;
              color: rgb(179, 179, 179);
              font-family: "Courier New", Courier, monospace;
            }
          }
          .articlediv:hover {
            background-color: #2f2f2f;
            cursor: pointer;
          }
        }
      }
      .emptyspace {
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: "810px") {
  .responsetab {
    .aicontent {
      max-width: 95%;
      height: 85vh;
      display: flex;
      align-items: center;
      .innerdiv {
        max-width: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ai {
          pre {
            padding: 5px 15px 10vh 15px;
          }
          .result {
            .code-content {
              padding-bottom: 10vh;
            }
          }
        }
      }
      .initial {
        max-width: 95%;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 100px;
        section {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 20px;
        }
      }
      .emptyspace {
        height: 20px;
      }
    }
  }
}

@media screen and (min-width: "501px") and (max-width: "810px") {
  .responsetab {
    .aicontent {
      .initial {
        max-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 100px;
        gap: 100px;
        section {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: "330px") {
  .responsetab {
    .aicontent {
      .initial {
        section {
          width: 150px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
